@layer Reset, Header, Button, Base, Align, Space;
:root {
  --skyblue: #38c3ef;
  --blue: #6892d0;
  --green: #88d948;
  --orange: #f69740;
  --yellow: #fac300;
  --white: #ffffff;
  --graye1: #e1e1e1;
  --gray33: #333333;
  --gray5c: #5c5c5c;
  --gray66: #666666;
  --gray99: #999999;
  --grayb4: #b4b4b4;
  --graycc: #cccccc;
  --graye0: #e0e0e0;
  --graye2: #e2e2e2;
  --in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --inout-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --inout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --inout-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --inout-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --inout-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --inout-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --inout-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --inout-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer Reset {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  body,
  input,
  select,
  textarea,
  button,
  img,
  fieldset {
    border: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  label,
  img,
  input,
  select,
  textarea,
  button,
  a {
    vertical-align: middle;
  }
  u,
  ins,
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  a {
    color: inherit;
  }
  /* Normalize */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date] {
    position: relative;
    width: 100px;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }
  @media screen and (width < 900px) {
    html {
      font-size: 31.25%;
    }
  }
  body {
    font-size: 1rem;
  }
  caption,
  legend,
  .a11y-hidden {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  @media print {
    .header,
    .footer,
    .visual {
      display: none;
    }
    .page-break {
      page-break-before: always;
    }
  }
  @page {
    margin: 1cm 2cm;
  }
  .print {
    display: block;
  }
  @media screen {
    .print {
      display: none;
    }
  }
}
@layer Header.Logo {
  @media screen and (width < 900px) {
    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .logo img {
      width: 10.9rem;
    }
  }
}
@layer Header.Gnb {
  .gnb {
    display: flex;
    gap: 4rem;
  }
  @media screen and (width < 900px) {
    .gnb {
      display: none;
    }
  }
  .gnb a {
    position: relative;
    color: var(--gray33);
    font-size: 1.6rem;
    font-weight: 700;
  }
  .gnb a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    border-bottom: 1rem solid var(--yellow);
    transition: 0.4s var(--inout-expo);
  }
  .gnb a:hover::after {
    transform: scaleX(1);
  }
}
@layer Header {
  @media screen and (width < 900px) {
    .header {
      position: relative;
      background-color: var(--yellow);
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    }
  }
  .header > div {
    display: grid;
    grid-template-columns: 20.8rem 1fr min-content;
    align-items: center;
    height: 9rem;
  }
  @media screen and (width < 900px) {
    .header > div {
      display: block;
    }
  }
  .header .utillity {
    display: flex;
    align-items: center;
    gap: 2.6rem;
  }
  @media screen and (width < 900px) {
    .header .utillity {
      height: 9rem;
      justify-content: space-between;
    }
  }
}
@layer Button {
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  @media screen and (width < 900px) {
    .btn-login {
      display: none;
    }
  }
  .btn-login::before {
    content: "";
    width: 1.6rem;
    height: 1.9rem;
    background: url(../images/ico_login.svg) no-repeat 0 0/contain;
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    background: none;
    white-space: nowrap;
  }
  @media screen and (width < 900px) {
    .btn-sitemap span {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
  .btn-sitemap::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    background: url(../images/ico_sitemap.svg) no-repeat 0 0/contain;
  }
  @media screen and (width < 900px) {
    .btn-sitemap::before {
      width: 9rem;
      height: 9rem;
      background: url(../images/ico_sitemap_white.svg) no-repeat center/2.8rem auto;
    }
  }
  .btn-search {
    display: none;
    width: 9rem;
    height: 9rem;
    background: url(../images/ico_search.svg) no-repeat center/3.0414rem auto;
  }
  @media screen and (width < 900px) {
    .btn-search {
      display: block;
    }
  }
}
@layer Heading {
  .heading.regular {
    color: var(--gray33);
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: -0.18rem;
    text-align: center;
  }
  .heading.small {
    margin-top: 0.7rem;
    color: var(--gray5c);
    font-size: 3.6rem;
    font-weight: 300;
    text-align: center;
  }
  .heading.small::after {
    content: "";
    display: block;
    margin: 2.8rem auto 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background-color: var(--yellow);
  }
  @media screen and (width < 900px) {
    .heading.small {
      margin: 2.4rem auto 0;
    }
    .heading.small::after {
      margin-top: 2.4rem auto 0;
    }
  }
}
@layer visual {
  .visual {
    background-color: var(--yellow);
  }
  .visual .m0auto {
    position: relative;
    display: flex;
    align-items: center;
    height: 32rem;
    box-sizing: border-box;
  }
  @media screen and (width < 900px) {
    .visual .m0auto {
      flex-direction: column;
      height: 25.5rem;
      padding-top: 7.7rem;
    }
  }
  .visual__title {
    color: var(--white);
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: -0.36rem;
  }
  @media screen and (width < 900px) {
    .visual__title {
      font-size: 5rem;
      letter-spacing: -0.25rem;
      line-height: 1;
    }
  }
  .visual__subtitle {
    display: none;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
    text-align: center;
  }
  @media screen and (width < 900px) {
    .visual__subtitle {
      display: block;
    }
  }
  .visual__img {
    position: absolute;
    right: 0;
    bottom: -4.7rem;
  }
  @media screen and (width < 900px) {
    .visual__img {
      display: none;
    }
  }
  .visual__img.bg1::after {
    content: url(../images/img_visual1.png);
  }
  .visual__img.bg2::after {
    content: url(../images/img_visual2.png);
  }
  .visual__img.bg3::after {
    content: url(../images/img_visual3.png);
  }
}
@layer Table {
  .table.type1 tr {
    height: 8.4rem;
    border-bottom: 0.1rem solid var(--graye1);
  }
  .table.type1 th {
    width: 20.9rem;
    padding: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.3rem;
    text-align: left;
    color: var(--gray33);
  }
  .table.type1 td {
    padding: 3rem 3rem 3rem 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.317rem;
    color: var(--gray66);
  }
  @media screen and (width < 900px) {
    .table.type1 th {
      display: block;
      width: auto;
      padding: 3rem 0 0;
      font-size: 2.6rem;
      font-weight: 700;
    }
    .table.type1 td {
      display: block;
      padding: 1rem 0 3rem;
      font-size: 2.6rem;
      line-height: 4.68rem;
    }
  }
}
@layer Base {
  .m0auto {
    width: 122.4rem;
    margin: 0 auto;
  }
  @media screen and (width < 900px) {
    .m0auto {
      width: 100%;
    }
  }
  .only-mobile {
    display: none;
  }
  @media screen and (width < 900px) {
    .only-mobile {
      display: block;
    }
  }
}
@layer align {
  .align {
    display: flex;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .txt-center {
    text-align: center;
  }
  .txt-right {
    text-align: right;
  }
  .txt-left {
    text-align: left;
  }
}
@layer space {
  @layer spaceOther {
    .basic-space {
      --space: 1.6rem;
      padding: 0 var(--space);
      box-sizing: border-box;
    }
    .basic-space[class*=line] {
      padding: 0;
      margin: 0 var(--space);
    }
  }
  .mt10 {
    margin-top: 1rem;
  }
  .mt12 {
    margin-top: 1.2rem;
  }
  .mt24 {
    margin-top: 2.4rem;
  }
}/*# sourceMappingURL=style.css.map */